body{
  font-family: "Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  margin: 0;
  padding: 20px;
  background-image:url(./images/bg.jpg);
  background-size: cover;
  line-height: 1.8;
  font-family:HelveticaNeue-boldItalic;
}

*{
  margin: 0;
  padding: 0;
  list-style: none;
  color: #fff;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}


img{
  max-width: 100%;
  height: auto;
}

.wrapper{
  max-width: 600px;
  margin: 0 auto;
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0px rgba(0,0,0,0.2);
}

#namecard{
  text-align: center;
}


/* 名前 */
h1.name{
  font-style: italic;
  font-family: Times New Roman, "游ゴシック";
  font-weight: bold;
  -webkit-text-stroke: 0.3px #fff;
  color: transparent;
  font-size: 40px;
  padding-left: 10px;
  margin-bottom: 10px;
}

/* 経歴部分 */
h2.title{
  font-size: 20px;
  margin-bottom: 5px;
  -webkit-text-stroke: 0.3px #fff;
  color: transparent;
}

.profile{
  padding: 5px;
}

ul.history_list li{
  list-style: none;
  display: flex;
  border-bottom: 1px dotted #ccc;/* 下線の点線 */
  margin-bottom: 1em;
  padding-bottom: 0.2em;
}

ul.history_list li div.txt{
  flex: 1;
  font-style: italic;
  font-family: Times New Roman, "游ゴシック";
  font-weight: bold;
}

div.year{
  width: 5em;
}


.box {
  position: relative;
  width: 600px;
  height: 800px;
  margin: 0 auto;
}
.box-contents {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: .5s ease;
}
.hover-point {
  position: absolute;
  z-index: 2;
  width: calc(100% / 3);
  height: calc(100% / 3);
}
.hover-point:nth-child(1) {
  top: 0;
  left: 0;
}
.hover-point:nth-child(2) {
  top: 0;
  left: calc(100% / 3);
}
.hover-point:nth-child(3) {
  top: 0;
  right: 0;
}
.hover-point:nth-child(4) {
  top: calc(100% / 3);
  left: 0;
}
.hover-point:nth-child(5) {
  top: calc(100% / 3);
  right: 0;
}
.hover-point:nth-child(6) {
  bottom: 0;
  left: 0;
}
.hover-point:nth-child(7) {
  bottom: 0;
  left: calc(100% / 3);
}
.hover-point:nth-child(8) {
  bottom: 0;
  right: 0;
}
.hover-point:nth-child(1):hover ~ .box-contents {
  transform-origin: right top;
  transform: perspective(1000px) rotateX(10deg) rotateY(-10deg) rotateZ(2deg);
}
.hover-point:nth-child(2):hover ~ .box-contents {
  transform-origin: center top;
  transform: perspective(1000px) rotateX(10deg);
}
.hover-point:nth-child(3):hover ~ .box-contents {
  transform-origin: left top;
  transform: perspective(1000px) rotateX(10deg) rotateY(10deg) rotateZ(-2deg);
}
.hover-point:nth-child(4):hover ~ .box-contents {
  transform-origin: left center;
  transform: perspective(1000px) rotateY(-10deg);
}
.hover-point:nth-child(5):hover ~ .box-contents {
  transform-origin: right center;
  transform: perspective(1000px) rotateY(10deg);
}
.hover-point:nth-child(6):hover ~ .box-contents {
  transform-origin: right bottom;
  transform: perspective(1000px) rotateX(-10deg) rotateY(-10deg) rotateZ(-2deg);
}
.hover-point:nth-child(7):hover ~ .box-contents {
  transform-origin: center bottom;
  transform: perspective(1000px) rotateX(-10deg);
}
.hover-point:nth-child(8):hover ~ .box-contents {
  transform-origin: left bottom;
  transform: perspective(1000px) rotateX(-10deg) rotateY(10deg) rotateZ(2deg);
}